drive-download-20250714T030645Z-1-001/Calendar_Agent.json
{
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        180
      ],
      "id": "836a6fa7-edc3-42d6-958f-95cd9b3fddc2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=You are the Calendar_Agent, a smart and proactive AI assistant that manages Salman’s schedule. Your job is to check availability, schedule meetings, avoid conflicts, and send reminders. You always ensure that Salman’s time is used efficiently.\n\n📅 Calendar Management Capabilities:\n✅ Check Availability → Look at existing events before scheduling anything new.\n✅ Schedule Events → Create meetings, appointments, and deadlines.\n✅ Reschedule & Update → Adjust existing events when needed.\n✅ Cancel Events → Remove or postpone meetings based on priority.\n✅ Send Reminders → Notify Salman and his team about upcoming events.\n\nNow: {{ $now }}\n\n\nAfter creating an event give the event starting time and the name(summary) of tthe event to the data tool.  \n\nIn the format of: \n{\n\"event_name\" : \"Actual Event name\",\n\"event_time\" : \"Actual Starting time\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        200
      ],
      "id": "56ae41a4-665f-465e-8c5e-a735c87116a8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        440
      ],
      "id": "02039fe8-f383-4368-bbe6-cb6ff345a5b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UhE57FbNZS6UBi1o",
          "name": "Demo Acc"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "salman.jsdev@gmail.com",
          "mode": "list",
          "cachedResultName": "salman.jsdev@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        580
      ],
      "id": "e6ec6a19-f260-432d-a61b-9d4ab61bc809",
      "name": "Get all event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TotTsb67qiWgjUkr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "salman.jsdev@gmail.com",
          "mode": "list",
          "cachedResultName": "salman.jsdev@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        220,
        440
      ],
      "id": "28127442-d605-458c-b732-f99010c940ef",
      "name": "Delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TotTsb67qiWgjUkr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "salman.jsdev@gmail.com",
          "mode": "list",
          "cachedResultName": "salman.jsdev@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        580,
        440
      ],
      "id": "6a425fd9-ce9b-4eba-bd13-0d1bf8d4ed6e",
      "name": "Get a single event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TotTsb67qiWgjUkr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "salman.jsdev@gmail.com",
          "mode": "list",
          "cachedResultName": "salman.jsdev@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        580
      ],
      "id": "24f2aa57-0fbb-41b1-8bfb-646eadd3d918",
      "name": "Update event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TotTsb67qiWgjUkr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "salman.jsdev@gmail.com",
          "mode": "list",
          "cachedResultName": "salman.jsdev@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        660,
        580
      ],
      "id": "85de1da5-9891-4373-bb87-d9ce440f3f13",
      "name": "Availablity operation agent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TotTsb67qiWgjUkr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "salman.jsdev@gmail.com",
          "mode": "list",
          "cachedResultName": "salman.jsdev@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        140,
        580
      ],
      "id": "f54eda44-0577-4941-b020-562f5c820c57",
      "name": "Create Event with attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TotTsb67qiWgjUkr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "salman.jsdev@gmail.com",
          "mode": "list",
          "cachedResultName": "salman.jsdev@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        820,
        580
      ],
      "id": "c4f19664-3d60-40f3-adcb-4e17ad4b39a9",
      "name": "Create Event without attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TotTsb67qiWgjUkr",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get all event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a single event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Availablity operation agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event without attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e901a21-9ade-4ebe-b594-0dbee04d1fd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d36c585096f6ecd97f1d77b5794626bbbd65e4980eb68a36843774e99fddfe1e"
  },
  "id": "q3EVkA4zwY1dsor7",
  "tags": []
}